{% extends "base.html" %}

{% block body%}
<div class= "container">
    <h1>Welcome</h1>
    <form id="auth-form" action"{{url_for('login')}}"method="post">
    <form action="">
        <input
            type="text"
            name="username"
            placeholder="username"
            class="input-field"
            />
        <input
            type="text"
            name="password"
            placeholder="password"
            class="input-field"
            />
        <input type="submit" value="Login" class="btn btn-login"/>
        <input type="button" value="Register" class="btn btn-login"/>
    </form>
</div>

<script>
    function setActionForm(form){
        let form = document.getElementById("auth-form");
        if(action == 'login'){
            form.action = "{{url_for('login')}}"
            form.method = "post"
            form.submit();
        } else if (action == "register"){
            form.action = "{{url_for('register')}}"
            form.method = "post"
            form.submit();
        }
    }
</script>
{%  endblock %}